<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Juhmer Tena's portfolio website for software engineering projects. Juhmer Tena is
        currently looking for fulltime employment."
    >

    <!-- Preload and prefetch resources -->
    <link rel="preconnect" href="https://github.com/AxiosDeminence" />
    <link rel="preconnect" href="https://www.linkedin.com/in/juhmer-tena/" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/dialog-polyfill/dialog-polyfill.css' | url }}"
    />
    <script src="{{ '/dialog-polyfill/dialog-polyfill.js' | url }}" nomodule defer></script>
    <script src="{{ '/polyfiller.js' | url }}" nomodule defer></script>

    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <script src="{{ '/main.esm.js' | url }}" type="module" crossorigin="anonymous"></script>

    <title>Juhmer Tena's Portfolio Website</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="{{ '/tena_juhmer_resume.pdf' | url }}" rel="noreferrer">Resume</a></li>
          <li><a href="#contact-info">Contact</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about">
        <h1>Juhmer Tena</h1>
        <h2>About Me</h2>
        {% renderFile "./src/_includes/intro.md" %}
      </section>
      <section id="contact-info">
        <h3>My Contact Info</h3>
        <!-- I'm just using spans here to prevent Firefox and Chromium-based browsers from rendering underlines differently -->
        <a href="mailto:juhmertena@gmail.com" id="email">
          <span>Email</span>
        </a>
        <a href="https://github.com/AxiosDeminence" id="github">
          <span>Github</span>
        </a>
        <a href="https://www.linkedin.com/in/juhmer-tena/" id="linkedin">
          <span>LinkedIn</span>
        </a>
        <div id="phone">
          <span>Phone number: +1 (619) 621-0793</span>
        </div>
      </section>
      <section id="projects">
        <h2>Projects</h2>
        <p>
          Academic and personal projects. You can click on each project to bring up a modal for a
          more in-depth description and source code if available. Some projects may not have source
          code available due to their nature as academic projects.
        </p>
        <div id="project-list">
          {% for project in collections.sortedProjects %}
            {% include "_partials/project_partial.njk" %}
          {% endfor %}
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <p>"test"</p>
      </nav>
    </footer>
  </body>
</html>
